<style>
      body{
        color:rgb(255, 238, 0)
      }
      article h2{
        font-size: 25px;
      }
      article h2{
        color:aqua
      }
     article{
      color:green
     }
    
    </style>